<style>
  .board {
    margin-top: 10px;
  }
  .ui-textarea {
    width: 100%;
  }

  .board .item {
    background-color: #f6f9fe;
    padding: 8px 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    position: relative;
  }
  .board .item .name {
    margin-bottom: 5px;
  }
  .board .item span {
    color: #999;
    font-size: 12px;
    margin-left: 5px;
  }

  .del {
    position: absolute;
    cursor: pointer;
    right: 15px;
    top: 8px;
  }
</style>

<div class="board">
  <form id="form" class="form">
    <div class="line-title">留言板</div>
    <div class="form-item">
      <input
        type="text"
        name="nickname"
        class="ui-input"
        maxlength="10"
        placeholder="想一个好听的昵称"
        required
      />
    </div>
    <div class="form-item">
      <textarea
        id="content"
        required
        class="ui-textarea"
        maxlength="100"
        id="content"
        placeholder="我想说的话"
      ></textarea>
    </div>
    <div class="form-item">
      <button class="ui-button" id="save" data-type="primary">发布</button>
    </div>
  </form>

  <div class="content">
    <%for(var i = 0; i < data.length; i++) {%>
    <div class="item">
      <div class="name blue">
        <%= data[i].value.nickname %>
        <span
          ><%= helper.formatDate(data[i].createdAt, 'YYYY/MM/DD hh:mm') %></span
        >
      </div>
      <% if(loginStatus.status === 1) {%>
      <div id="del" class="blue del" onclick="delFn('<%= data[i].id %>')" data-id="<%= data[i].id %>">删除</div>
      <%}%>
      <div class="content"><%= data[i].value.content %></div>
    </div>
    <%}%>
  </div>
</div>
<script>
    var delFn = null
  window.addEventListener('DOMContentLoaded', function () {
    var form = document.querySelector('#form');
    var save = document.querySelector('#save');
    var del =document.querySelector('#del')
    var ajax = axios.create({
      headers: { 'x-csrf-token': $util.getCookie('csrfToken') },
    });

    delFn = function(id) {
        ajax.delete('/api/board/' + id).then(function(data) {
            if(data.data.success) {
                window.location.href = '/board'
            }
        }).catch(function(err) {
            new LightTip().error('删除失败')
        })
    }

    new Validate(form, function () {
      var nickname = document.querySelector('input[name=nickname]');
      var content = document.querySelector('#content');

      ajax
        .post('/api/board', {
          nickname: nickname.value,
          content: content.value,
        })
        .then(function (data) {
          if (data.data.success) {
            window.location.href = '/board';
          } else {
            new LightTip().error('留言发布失败');
          }
        })
        .catch(function () {
          new LightTip().error('系统错误');
        });
    });
  });
</script>
