<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <% if(router === 'list') {%>
        <%= seo.title %>
      <%} else if(router === 'post') {%>
        <%= data.title %>-<%= site.nickname %>
      <%} else if(router === 'login') {%>
          登录-<%= site.nickname %>
      <%} else if(router === 'setting') {%>
          设置-<%= site.nickname %>
      <%} else { %>
          404
      <%}%>
    </title>
    <meta name="keywords" content="<%= seo.keywords %>">
    <% if(router === 'post') {%>
      <meta name="description" content="<%= helper.description(data.content) %>">
      <%} else {%>
      <meta name="description" content="<%= seo.description %>">
    <%}%>
    <link rel="shortcut icon" href="/public/favicon.png" type="image/x-icon">
    <%- include('./style.ejs') -%>
  </head>
  <body>
    <style>
      html,
      body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-color: #eee;
      }
      .header {
        box-sizing: border-box;
        max-width: 960px;
        padding: 0 10px;
        margin: 50px auto 20px;
      }
      .container {
        box-sizing: border-box;
        font-size: 14px;
        margin: 0 auto 30px;
        max-width: 960px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        padding: 15px;
        border-radius: 5px;
        background-color: #fff;
      }
      .nickname {
        font-size: 26px;
      }
      .sign {
        font-size: 12px;
        color: #666;
        margin-left: 15px;
      }
      .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 10px;
      }
      .nav ul {
        display: flex;
        padding: 0;
        list-style-type: none;
      }
      .nav .search input {
        border-top: none;
        border-right: none;
        border-left: none;
        outline: none;
        border-radius: 0;
        padding: 0;
        height: 30px;
      }
      .nav-item {
        padding: 0 10px;
      }
      .main {
        padding-left: 10px;
        padding-right: 10px;
      }

      .footer {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        color: #999;
        opacity: 0.8;
      }
    </style>
    <header class="header">
      <div class="nickname"><%= site.nickname %></div>
      <div class="sign"><%= site.sign %></div>
    </header>
    <div class="container">
      <nav class="nav">
        <ul>
          <li><a href="/" class="nav-item">首页</a></li>
          <% for(var i = 0; i < menus.length; i++) {%>
            <li><a href="/post?id=<%=menus[i].id%>" class="nav-item"><%= menus[i].title %></a></li>
            <%}%>
          <li><a href="/draft" class="nav-item">草稿箱</a></li>
          <li><a href="/setting" class="nav-item">设置</a></li>
          <li><a href="/editor" class="nav-item">新随笔</a></li>
        </ul>

        <div class="search">
          <input type="search" class="ui-input" placeholder="搜索" autofocus />
        </div>
      </nav>
      <main class="main">
        <% if(router === 'list') {%>
          <%- include('./list.ejs', { data, router, total }) -%>
        <%} else if(router === 'post') {%>
          <%- include('./post.ejs', { data, pre, next, loginStatus }) -%>
        <%} else if(router === 'login') {%>
          <%- include('./login.ejs') -%>
        <%} else if(router === 'setting') {%>
          <%- include('./setting.ejs') -%>
        <%} else {%>
          <%- include('./404.ejs') -%>
        <%}%>
      </main>
    </div>
    <footer class="footer">
      <span class="icp"
        ><%= site.icp %> Powered by
        <a href="https://github.wmui/essay" target="_blank">Essay</a></span
      >
    </footer>
    <script>
      window.addEventListener('DOMContentLoaded', function(){
        var search = document.querySelector('input[type=search]')
        search.addEventListener('keyup', function(event) {
          if(event.key === 'Enter' && search.value) {
            window.location.href = '/search?keywords=' + encodeURIComponent(search.value)
          }
        })
      })
    </script>
    <%- include('./script.ejs') -%>
  </body>
</html>
