<style>
  .post-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #999;
  }
  .post-footer .left span {
    margin-right: 5px;
  }
  .post-footer a {
    margin-left: 10px;
  }
</style>

<article class="post">
  <div class="content"><%- helper.shtml(data.content) %></div>
  <div class="post-footer">
    <div class="left">
      <span>发布@<%= helper.formatDate(data.createdAt) %></span>
      <span>更新@<%= helper.formatDate(data.updatedAt) %></span>
      <span>浏览量(<%= data.view %>)</span>
    </div>
    <div class="right">
      <a href="javascript:;" id="del" data-id="<%= data.id %>">删除</a>
      <a href="/editor?id=<%= data.id %>">编辑</a>
    </div>
  </div>
</article>
<script>
  window.addEventListener('DOMContentLoaded', function () {
    var del = document.querySelector('#del');
    del.addEventListener('click', function () {
      new Dialog().confirm(
        '<h6>确定要删除吗？</h6><p>删除后文章不会出现在列表中</p>',
        {
          buttons: [
            {
              type: 'normal',
              value: '取消',
              events: function events(event) {
                console.log('cancel');
                event.dialog.remove();
              },
            },
            {
              type: 'danger',
              value: '确定',
              events: function events(event) {
                var id = del.getAttribute('data-id')
                axios.delete('/api/post/'+ id).then(function(data){
                    window.history.back();
                }).catch(function() {
                    new LightTip().error('操作失败')
                })
                event.dialog.remove();
              },
            },
          ],
        }
      );
    });
  });
</script>
